* {
    font-family: "Roboto", Impact;
}

header, .hero {
    background-color: #1f2937;
    color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo-container {
    display: flex;
    flex-basis: 50px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li {
    font-size: 18px;
}

.moon-logo {
    max-width: 50px;
}

.mountain {
    max-width: 300px;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 10px;
   
}

.left-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-basis: 300px;
}

.right-panel {
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 1px 10px;
    font-weight: bold;
    border: none;
    width: 80px;
    border-radius: 4px;
    
}

.hero h1 {
    color: #f9faf8;
}