* {
    font-family: "Roboto", Impact;
}

body {
    padding: 0 70px;
    background-color: #1f2937;
    border: 1px solid brown;

}

header, .hero h4 {
    background-color: #1f2937;
    color: #e5e7eb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid brown;
}

.logo-container {
    display: flex;
    flex-basis: 50px;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

li {
    font-size: 18px;
}

.moon-logo {
    max-width: 50px;
}

.mountain {
    min-height: 100%;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    padding: 100px 0;
    gap: 20px;
    border: 1px solid brown;
}

.left-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
}

.right-panel {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: end;
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 1px 10px;
    font-weight: bold;
    border: none;
    width: 80px;
    border-radius: 4px;
    
}

.hero h1 {
    color: #f9faf8;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

/*border: 1px solid brown;*/
