* {
    font-family: "Roboto", Impact;
}

body {
    margin: 0;
}

header {
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 600px;
    /*border: 1px solid brown;*/
}

header>p {
    font-size: 24px;
    color: #f9faf8;
}


ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

li {
    font-size: 18px;
}

.mountain {
    min-height: 100%;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #1f2937;
    padding: 50px 600px;
}

.hero h4 {
    background-color: #1f2937;
    color: #e5ebe7;
    margin: 0;
}

.hero h1 {
    color: #f9faf8;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}


.left-panel {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 400px;
    height: 200px;
    background-color: #1f2937
}

.right-panel {
    display: flex;
    flex-direction: column;
    flex-basis: 400px ;
    align-items: end;
    background-color: #1f2937
}

button {
    background-color: #3882f6;
    color: #e5e7eb;
    padding: 1px 10px;
    font-weight: bold;
    border: none;
    width: 80px;
    height: 25px;
    border-radius: 4px;
    
}


.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-bottom: 50px;
    /* border: 1px solid brown; */
}

.panels {
    display: flex;
    justify-content: center;
    gap: 60px;
    /* border: 1px solid brown; */
}

.one, .two, .three, .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-basis: 100px;
}

.info > p {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.squareimg {
    border: 3px solid #3882f6;
    border-radius: 20px;
    width: 100px;
}


.text-under {
    text-align: center;
    color: #1f2937;
}
/*border: 1px solid brown;*/

.quote-section * {
    /* border: 1px solid brown; */
    color: #1f2937;
}

.quote-section {
    justify-content: center;
    display: flex;
    background-color: #e5e7eb;
    padding: 50px 0;
}

.quote-container {
    flex-basis: 500px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.author {
    align-self: end;
    font-weight: bold;
}


.action {
    display: flex;
    justify-content: center;
}

.action-sub {
    display: flex;
    background-color: #3882f6;
    align-items: center;
    border-radius: 10px;
    flex-basis: 700px;
    justify-content: space-around;
    height: 100px;
    padding: 0 50px;

}

.action-text-containter {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.action-text-containter p {
    margin: 0;
}

.button2 {
    border: 1px solid white;
}

.action-text {
    color: #f9faf8;
    font-weight: bold;
    font-size: 1.2em;
}

.action-text-under {
    color: #f9faf8;
}
